@use '../../styles/partials/variables' as *;
@use '../../styles/partials/media-query' as *;
@use '../../styles/partials/mixins' as *;

.badge-rewards {
    @include section-main ($beige);

    &__container {
        @include display-layout($mobile-padding 0, 0 $mobile-margin);

        @include tablet {
            @include display-layout($tablet-padding, 0);
        }

        @include desktop {
            @include desktop-layout ($mobile-padding $tablet-padding);
            max-width: 67rem;
        }

        &__medals-wrapper {
            display: flex;
            gap: 1rem;

            &--prize {
                width: 5.5rem;
                height: 5rem;
            }
        }

        &__user {
            padding-top: 2rem;
        }
    }
}