@use './fonts' as *;
@use './media-query' as *;
@use './variables' as *;

* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-family: avenir-next-regular;
}

//Page Header
h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenir-next-bold;
    font-weight: 700;
    color: $BrainFlix-Black;

    @include tablet {
        font-size: 2.0625rem;
        line-height: 2.75rem;
    }
}

//Section Header
h2 {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: avenir-next-bold;
    font-weight: 700;
}

//Subheader
h3 {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-family: avenir-next-bold;
    font-weight: 700;
    color: $BrainFlix-Black;

    @include tablet {
        font-size: 0.875rem;
        line-height: 1.375rem;
    }
}

//Labels & Buttons
h4 {
    font-size: 0.625rem;
    line-height: 1.25rem;
    font-family: avenir-next-bold;
    font-weight: 700;

    @include tablet {
        font-size: 0.75rem;
    }
}

//Body Copy KEEP AN EYE ON SIZE ON DIFFERENT LAYOUTS
p {
    @extend h3;
    font-family: avenir-next-regular;
    font-weight: 400;
    color: $BrainFlix-Black;
}

textarea {
    @extend p;
    line-height: 1rem;
}