//Responsive Design Breakpoints
$tablet: 768px;
$desktop: 1280px;

//color
$beige: rgba(249, 249, 249, 1);

//Responsive Layout Grid
$mobile-padding: 1rem;
$mobile-margin: 1rem;
$tablet-padding: 1.5rem;
$tablet-margin: 1.5rem;
$tablet-gutters: 1.5rem;
$desktop-gutters: 1.5rem;