@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/media-query' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.header {
    @include section-main ($light-orange);
    
    &__container {
        @include display-layout ($mobile-padding 0, 0 $mobile-margin);
        display: flex;
        flex-direction: column;

        @include tablet {
            @include display-layout ($mobile-padding $tablet-padding, 0);
            flex-direction: row;
            justify-content: space-between;
        }

        @include desktop {
            @include desktop-layout ($mobile-padding $tablet-padding);
            justify-content: stretch;
            max-width: 67rem;
        }

        &__link {
            text-decoration: none;
        }

        &__logo {
            width: 5rem;
            height: 2rem;
    
        }
    }
}